@import "style.css";

/* ******************FORMULAIRE************* */
.formulaire {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 200px 1fr;
    /* grid-auto-columns: minmax(100px, auto); */
    width: 800px;
    margin: 40px auto;
    
}

input,textarea{
    /* width: 80%; */
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    
}

.formulaire button {
    grid-column: span 2; 
    margin-top: 20px;
    justify-self: center; 
    padding: 10px 25px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
}

/* ******************FOOTER************* */

footer {
    margin-top: auto;        
    display: flex;           
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    
}

footer img {
    height: 25px;
    width: 25px;
    margin: 0 10px;          
}