@import "style.css";

.container {
    display: flex;
    flex-direction: column;     
    align-items: center;        
    text-align: center;         
    max-width: 1000px;           
    margin: 0 auto;      
    font-size: 1.2em;       
}

.container img {
    width: 500px;               
    border-radius: 5px;   
    margin-bottom: 10px;      
}