@import "style.css";

.message-info {
    margin-top: 10px;
    font-weight: bold;
    min-height: 1.2em; /* Pour éviter que la page "saute" quand le texte apparaît */
}

.success {
    color: green;
}

.error {
    color: red;
}


.low-priority { 
    border-left: 5px solid green; 
}
.medium-priority { 
    border-left: 5px solid orange; 
}
.high-priority { 
    border-left: 5px solid red;  
}


